:root {
  --green: #1a4d2e;
}

/* html {
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: white;
  display: grid;
  grid-template-rows: 1fr 6fr 60px;
}

header {
  background-color: var(--green);
  box-shadow: 0px 3px 19px black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  border-top: #f1f1f1;
}

nav ol {
  list-style: none;
  display: flex;
  padding: 0;
  border: none;
}

main {
  background-color: #f1f1f1;
  color: black;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(80px, 100px) 1fr;
  align-items: center;
  justify-items: center;
}

.control {
  padding-top: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.value-number {
  background-color: #f1f1f1;
  border: none;
  font-size: 22px;
  text-align: center;
}

#value-range {
  width: 16vw;
}

footer {
  background-color: var(--green);
  box-shadow: inset 0px 1px 16px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
