:root {
  --green: #1a4d2e;
  --white: #f1f1f1;
  --button-active: #bdbdbd;
}

/* html {
  box-sizing: border-box;
} */

body {
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  font-family: "Roboto", sans-serif;
  color: white;
  display: grid;
  grid-template-rows: 1fr 6fr 60px;
}

header {
  background-color: var(--green);
  box-shadow: 0px 3px 19px black;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  border-top: var(--white);
}

nav ol {
  list-style: none;
  display: flex;
  padding: 0;
  border: none;
  gap: 10px;
}

main {
  background-color: var(--white);
  color: black;
  display: grid;
  width: 100vw;
  grid-template-columns: 1fr;
  grid-template-rows: minmax(140px, 180px) 1fr;
  align-items: center;
  justify-items: center;
}

.control {
  padding-top: 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.value-number {
  background-color: var(--white);
  border: none;
  font-size: 22px;
  text-align: center;
}

#value-range {
  width: 16vw;
}

.board {
  min-width: 400px;
  min-height: 400px;
  border: solid 2px black;
  display: flex;
  justify-content: start;
  /* flex-direction: row-reverse; */
  gap: 3px;
}

.column {
  min-width: 3px;
  border: solid 1px black;
  background-color: var(--green);
}

.column-active {
  background-color: #3fa2f6 !important;
}

.column-min {
  background-color: #88d66c;
}

.column-sorted {
  background-color: gold;
}

footer {
  background-color: var(--green);
  box-shadow: inset 0px 1px 16px black;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  background-color: var(--white);
  padding: 7px;
  font-size: medium;
  border-radius: 10px;
  font-weight: 600;
  width: 13vw;
  min-width: 100px;
  max-width: 300px;
  border: black solid 2px;
}

button:hover {
  background-color: var(--button-active);
}

.selected {
  background-color: var(--button-active);
  box-shadow: 0px 0px 5px 2px var(--button-active);
}

.run {
  margin-top: 25px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}
